.todos
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.todo 
{
	border: 1px solid #ccc;
	padding: 5px;
}

.todo__title
{

}

.todo--done
{
	text-decoration: line-through;
	font-style: italic;
}